// colors
$color_01: #7c5dfa;
$color_02: #9277ff;
$color_03: #1e2139;
$color_04: #252945;
$color_05: #dfe3fa;
$color_06: #888eb0;
$color_07: #7e88c3;
$color_08: #ec5757;
$color_09: #ec5757;
$color_10: #ff9797;
$color_11: #f8f8fb;
$color_12: #141625;

// Заголовки
$main-font: "League Spartan", sans-serif;

$heading-l-size: 36px;
$heading-l-line-height: 33px;
$heading-l-letter-spacing: -1px;

$heading-m-size: 24px;
$heading-m-line-height: 22px;
$heading-m-letter-spacing: -0.75px;

$heading-s-size: 15px;
$heading-s-line-height: 24px;
$heading-s-letter-spacing: -0.25px;

$heading-s-variant-size: 15px;
$heading-s-variant-line-height: 15px;
$heading-s-variant-letter-spacing: -0.25px;

// Тіло тексту
$body-size: 13px;
$body-line-height: 18px;
$body-letter-spacing: -0.1px;

$body-variant-size: 13px;
$body-variant-line-height: 15px;
$body-variant-letter-spacing: -0.25px;
