@use "../../../app/styles/variables.scss" as *;

.button {
    width: 133px;
    height: 48px;

    border-radius: 24px;
    background: #373b53;

    color: $color_06;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.25px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 3px;
    padding-left: 1px;

    border: none;

    &:hover {
        background: $color_08;
        cursor: pointer;
    }
}
